img {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 0.5em;
}
.caja {
    text-align: center;
    margin-top: 1em;
}
.mx-auto {
    margin: 0 auto;
    margin-top: 1em;
    display: block;
}
.card_1 {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: 1em;
    vertical-align: middle;
    background-color: rgb(255, 153, 0);
    padding: 1em;
    h5 {
        text-align: center;
        margin-top: 1em;
    }
}

.text-center {
    text-align: center;
}
.input {
    padding: 0.5em 1em;
    border: 1px solid orangered;
    color: orangered;
    margin: 0.5em;
    border-radius: 0.3125em;
}

.btn {
    padding: 0.5em 1em;
    font-size: 1.2rem;
    border-radius: 1.5625em;
    border: 1px solid orangered;
    color: orangered;
}

.text-red {
    color: red;
}
.text-green {
    color: green;
}
.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}

.container {
    display: block;
    margin: 2em auto;
    padding: 0em 2em;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2em;
}
